*{
  box-sizing: border-box;
}

.displaydata {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 30%;
    /* display: flex;
    flex-wrap: wrap;
    width: 48%; */
    
}

.cardactive {
    width: 200px;
    /* margin: px; */
    padding: 50px;
    margin: 50px;
    height: 200px;
    border: 1px solid gray;
    background-color: gray;
    border-radius: 20px;
}

.card {
    width: 200px;
    /* margin: px; */
    padding: 50px;
    margin: 50px;
    height: 200px;
    border: 5px solid blue;
    background-color: gray;
    border-radius: 20px;
}

.cardactive h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {

}